@charset "UTF_8";

/*Versão para outras mídias*/

/*Typical Device Breakpoints
---------------------------------
Telas pequenas: menores que 600px
Telas smartphones: 600 à 768px
Tablets: 768px à 992px
Desktops: 992px à 1200px
Telas grandes: mais que 1200px
---------------------------------
*/

@media screen and (orientation: landscape, min-width: 992px) {
    body{
        background-image: url(../img/paisagem-pc.jpg);
    }

    #iburguer{
        display: none;
    }

    header > h1{
        font-size: 2.5em;
    }

    #subtitulo{
        font-size: 1.5em;
    }

    #menu{
        display: block;
    }

    #menu li{
        display: inline-block;
    }

    main{
        width: 992px;
    }/*Posso fazer assim, ou definir um max-width: 992px do main no estilo principal*/

    main > section > h2{
        font-size: 2.5em;
    }
    
    #subtitulo{
        font-size: 1em;
        margin-top: 2px;
    }

}

